<template>
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.partner }}</td>
        <td>{{ item.order_price }}</td>
        <td>{{ item.status }}</td>
        <td>{{ getProductList(item.products) }}</td>
        <td>
            <v-btn :to="`orders/${item.id}`" color="success">Edit</v-btn>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "OrderTableRow",
        props: ['item'],
        methods: {
            getProductList(products) {
                let products1 = '';
                products.forEach((product) => products1 += product.name + ' ');
                return products1;
            }
        }
    }
</script>

<style scoped>

</style>
