<template>
    <v-container>
        <v-card>
            <v-card-title class="text-center justify-center py-6">
                <h1 class="font-weight-bold display-1">Forecast form</h1>
            </v-card-title>

            <v-tabs v-model="tab"
                    background-color="transparent"
                    color="basil"
                    grow>
                <v-tab v-for="item in items"
                       :key="item">
                    {{ item }}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
                <v-tab-item v-for="item in items"
                            :key="item">
                    <v-container>
                        <city-form v-if="item ==='City'"></city-form>
                        <coordinates-form v-if="item ==='Coordinates'"></coordinates-form>
                    </v-container>
                </v-tab-item>
            </v-tabs-items>

            <v-list v-if="isForecastExists()">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>City: {{forecast.name}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>Temperature: {{forecast.main.temp}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card>
    </v-container>
</template>
<script>
    import {mapGetters} from "vuex";

    export default {
        name: "Forecast",
        components: {
            CityForm: () => import('@/modules/forecast/components/CityForm'),
            CoordinatesForm: () => import('@/modules/forecast/components/CoordinatesForm'),
        },
        computed: {
            ...mapGetters(['forecast'])
        },
        data() {
            return {
                tab: null,
                items: [
                    'City', 'Coordinates',
                ]
            }
        },
        methods: {
            isForecastExists() {
                return !_.isEmpty(this.forecast)
            }
        }
    }
</script>

<style scoped>

</style>
