<template>
    <v-card>
        <v-card-title>Orders</v-card-title>
        <v-data-table
                :headers="headers"
                :items="orders"
                :server-items-length="totalItems"
                :options="options"
                class="elevation-1"
                @update:options="updateTable($event)">
            <template #item="{ item }">
                <order-table-row :item="item"></order-table-row>
            </template>
        </v-data-table>
    </v-card>
</template>
<script>
    import {mapGetters, mapState} from "vuex";
    import {GET_DATA_TABLE_ORDERS} from "@/store/actions";
    import {SET_ORDER_SEARCH_OPTIONS} from "@/store/mutations";

    export default {
        name: "Orders1",
        data() {
            return {
                search: '',
                headers: [
                    {text: 'ID', value: 'id'},
                    {text: 'partner', value: 'partner'},
                    {text: 'order_price', value: 'order_price'},
                    {text: 'status', value: 'status'},
                    {text: 'order_items', value: 'order_items', sortable: false},
                    {text: 'edit', sortable: false}
                ]
            }
        },
        computed: {
            ...mapState(['options']),
            ...mapGetters(['orders', 'totalItems'])
        },
        methods: {
            updateTable(options) {
                this.$store.dispatch(GET_DATA_TABLE_ORDERS, options).then(() => this.$store.commit(SET_ORDER_SEARCH_OPTIONS, options))
            },
        },
        components: {
            OrderTableRow: () => import('@/modules/orders/components/OrderTableRow')
        }
    }
</script>

<style scoped>

</style>
