<template>
    <v-snackbar
            v-model="snackbar"
            right
            top
            :color="type"
            multi-line
            :timeout="timeout">
        {{message}}
    </v-snackbar>
</template>

<script>
    export default {
        name: "Notification",
        props: {
            timeout: {
                type: Number,
                default: 3000
            }
        },
        data() {
            return {
                snackbar: false,
                message: '',
                type: 'success'
            }
        },
        created() {
            this.$root.$on('notify',  (type, message)=> {
                this.snackbar = true;
                this.type = type;
                this.message = message;
            })
        }
    }
</script>

<style scoped>

</style>
