<template>
    <v-navigation-drawer v-model="drawer"
                         app
                         dark
                         temporary>
        <v-list>
            <v-list-item v-for="(route, i) in navigation"
                         :key="i"
                         :to="route.path">
                <v-list-item-title v-text="route.name"/>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import {mapGetters, mapState} from "vuex";

    export default {
        name: 'CoreDrawer',
        computed: {
            ...mapGetters(['navigation']),
            ...mapState(['drawer'])
        }
    }
</script>
