<template>
    <v-footer class="py-4"
              dark
              height="auto">
        <v-container mx-auto>
            <v-layout wrap>
                <v-flex xs9>
                    Created by Isacov Alexandr
                </v-flex>
            </v-layout>
        </v-container>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer'
    }
</script>
