<template>
    <v-app-bar app flat>
        <v-app-bar-nav-icon
                class="hidden-md-and-up"
                @click="toggleDrawer"/>
        <v-container mx-auto py-0>
            <v-layout>
                <v-btn v-for="(route, i) in navigation"
                       :key="i"
                       :to="route.path"
                       class="ml-0 hidden-sm-and-down"
                       text>
                    {{ route.name }}
                </v-btn>
                <v-spacer/>
            </v-layout>
        </v-container>
    </v-app-bar>
</template>

<script>
    import {
        mapGetters,
        mapMutations
    } from 'vuex'

    export default {
        computed: {
            ...mapGetters(['navigation']),
        },
        methods: {
            ...mapMutations(['toggleDrawer']),
        }
    }
</script>
