<template>
    <v-form ref="form" onSubmit="return false" lazy-validation>
        <v-text-field label="City" v-model="city" :rules="rules" @keyup.enter="getForecastInfo">
        </v-text-field>
        <v-btn color="success" class="mr-4" @click="getForecastInfo">Get</v-btn>
    </v-form>
</template>
<script>
    import {GET_FORECAST} from "@/store/actions";

    export default {
        name: "Forecast",
        data() {
            return {
                city: '',
                rules: [
                    v => !!v || 'It is required field',
                ],
            }
        },
        methods: {
            getForecastInfo() {
                if (!this.$refs.form.validate()) {
                    this.notification('error', 'Form is not valid');
                    return false;
                }
                this.$store.dispatch(GET_FORECAST, {
                    city: this.city
                }).then(() => this.notification('success', 'Forecast was found'))
                    .catch(res => this.notification('error', res.response.data.message))
            },
            notification(type, message) {
                this.$root.$emit('notify', type, message)
            }
        }
    }
</script>

<style scoped>

</style>
