<template>
    <v-form ref="form" lazy-validation>
        <v-text-field label="Longitude" v-model="longitude" :rules="[...lonRules,...commonRules]">
        </v-text-field>
        <v-text-field label="Latitude" v-model="latitude" :rules="[...latRules,...commonRules]">
        </v-text-field>
        <v-btn color="success" class="mr-4" @click="getForecastInfo">Get</v-btn>
    </v-form>
</template>
<script>
    import {GET_FORECAST} from "@/store/actions";

    export default {
        name: "CoordinatesForm",
        data() {
            return {
                latitude: '',
                longitude: '',
                latRules: [
                    v => -90 <= v && 90 >= v || 'Allowed between -90 to 90',
                ],
                lonRules: [
                    v => -180 <= v && 180 >= v || 'Allowed between -180 to 180',
                ],
                commonRules: [
                    v => !!v || v === 0 || 'It is required field',
                    v => /^[-+]?[0-9]*[.]?[0-9]+$/.test(v) || 'Must be int or float value with . delimiter',
                ]
            }
        },
        methods: {
            getForecastInfo() {
                if (!this.$refs.form.validate()) {
                    this.notification('error', 'Form is not valid');
                    return false;
                }
                this.$store.dispatch(GET_FORECAST, {
                    lat: this.latitude,
                    lon: this.longitude
                }).then(() => this.notification('success', 'Forecast was found'))
                    .catch(res => this.notification('error', res.response.data.message))
            },
            notification(type, message) {
                this.$root.$emit('notify', type, message)
            }
        }
    }
</script>

<style scoped>

</style>
