<template>
    <v-app>
        <notification></notification>
        <core-toolbar/>
        <core-drawer/>
        <core-view/>
        <core-footer/>
    </v-app>
</template>
<script>
    export default {
        components: {
            'core-footer': () => import('@/modules/app/layout/Footer'),
            'core-drawer': () => import('@/modules/app/layout/Drawer'),
            'core-view': () => import('@/modules/app/layout/View'),
            'core-toolbar': () => import('@/modules/app/layout/Toolbar'),
            'notification': () => import('@/components/Notification'),
        }
    }
</script>
