<template>
    <v-card>
        <v-container>
            <v-card-title class="text-center justify-center py-6">
                <h1 class="font-weight-bold display-1">Edit order: {{id}}</h1>
            </v-card-title>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field v-model="status"
                              :rules="statusRules"
                              label="Status">
                </v-text-field>
                <v-text-field v-model="email"
                              :rules="emailRules"
                              label="E-mail">
                </v-text-field>
                <v-select v-if="orderIsNotEmpty" v-model="partner"
                          :items="partners"
                          :rules="partnerRules"
                          label="Partner"
                          :value="selectedPartner">
                </v-select>
                <v-list>
                    <v-list-item v-if="orderIsNotEmpty" v-for="(order_product,index) in order.order_products"
                                 :key="index">
                        <v-list-item-content>
                            <v-list-item-title>{{order_product.quantity}} * {{order_product.product.name}}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list-item v-if="orderIsNotEmpty">
                    <v-list-item-title>Total: {{order.price}}</v-list-item-title>
                </v-list-item>
                <v-btn :disabled="!valid"
                       color="success"
                       class="mr-4"
                       @click="submit">
                    Update
                </v-btn>
                <v-btn color="error" class="mr-4" @click="reset">Clean form</v-btn>
            </v-form>
        </v-container>
    </v-card>
</template>
<script>
    import {mapGetters} from "vuex";
    import {GET_ALL_PARTNERS, GET_ORDER_FOR_EDIT, UPDATE_ORDER} from "@/store/actions";

    export default {
        name: 'OrderEditForm',
        props: ['id'],
        created() {
            this.$store.dispatch(GET_ORDER_FOR_EDIT, this.id);
            this.$store.dispatch(GET_ALL_PARTNERS);
        },
        computed: {
            ...mapGetters(['partners', 'order']),
            selectedPartner() {
                return this.order.partner.id
            },
            orderIsNotEmpty() {
                return !_.isEmpty(this.order)
            },
            status: {
                get: function () {
                    return this.initial_status || !this.orderIsNotEmpty ? this.initial_status : this.order.status
                },
                set: function (val) {
                    this.initial_status = val
                }
            },
            email: {
                get: function () {
                    return this.initial_email || !this.orderIsNotEmpty ? this.initial_email : this.order.client_email;
                },
                set: function (val) {
                    this.initial_email = val
                }
            },
            partner: {
                get: function () {
                    return this.initial_partner || !this.orderIsNotEmpty ? this.initial_partner : this.selectedPartner
                },
                set: function (val) {
                    this.initial_partner = val
                }
            }
        },
        methods: {
            submit() {
                if (!this.$refs.form.validate()) {
                    this.notification('error', 'Form is not valid');
                    return false;
                }
                let order_details = {
                    id: this.id,
                    data: {
                        status: this.status,
                        client_email: this.email,
                        partner_id: this.partner
                    }
                };
                this.$store.dispatch(UPDATE_ORDER, order_details)
                    .then(() => {
                        this.notification('success', 'Updated successfully')
                        this.$router.push('/orders');
                    })
                    .catch((e) => {
                        this.notification('error', `Code: ${e.response.status} Message:${e.response.statusText}`)
                    });
            },
            reset() {
                this.$refs.form.reset();
            },
            notification(type, message) {
                this.$root.$emit('notify', type, message)
            },
            updateValue(name, value) {
                this[name] = value;
            }
        },
        data() {
            return {
                valid: true,
                initial_status: '',
                statusRules: [v => !!v || v === 0 || 'Status is required',],
                initial_email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                initial_partner: null,
                partnerRules: [v => !!v || 'Partner is required']
            }
        }
    }
</script>
